/* body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
} */

.menu {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.page {
  width: 100%;
  background-color: aliceblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.profileTable {
  width: 100%;
}

.content {
  padding: 0.5em;
  align-content: center;
  width: 100%;
  border-color: steelblue;
  border-top-style: solid;
  border-top-width: 0.3em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* background-color: white; */
  opacity: 0.9;
}

.main-menu {
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  width: 100%;
  list-style-type: none;
  border-color: steelblue;
  /*border-bottom-style: solid;*/
}

.main-menu-item {
  padding: 1em;
  text-align: center;
  text-decoration: none;
}

.main-menu a {
  text-decoration: none;
}

.main-menu-item:hover {
  background-color: lightskyblue;
}

* {
  box-sizing: border-box;
}

.bg-img {
  /* The image used */
  background-image: url("bg_image.jpg");

  /* Control the height of the image */
  min-height: 1080px;
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Add styles to the form container */
.container {
  position: absolute;
  right: 0;
  top: 1em;
  margin: 1em;
  max-width: 90%;
  min-width: 20em;
  padding: 1em;
  background-color: white;
  opacity: 0.9;
  align-content: center;
}

.page-container {
  position: absolute;
  left: 0;
  top: 1em;
  margin: 1em;
  max-width: 90%;
  min-width: 20em;
  padding: 1em;
  background-color: white;
  opacity: 0.9;
  align-content: center;
}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 1em;
  margin: 0.1em 0 0.1em 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color: steelblue;
  color: white;
  padding: 2em 3em;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  align-content: center;
}

.btn:hover {
  opacity: 1;
}

.patientSearchResults {
  padding: 0.5em;
  align-content: center;
  width: 100%;
  border-color: steelblue;
  border-top-style: solid;
  border-top-width: 0.3em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* background-color: white; */
  opacity: 0.9;
}

.patientResult {
  display: flex;
  flex-direction: row;
  padding: 0.2em;
  align-content: left;
  width: 100%;
  border-color: cadetblue;
  border-style: solid;
  border-width: 0.1em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* background-color: white; */
  opacity: 0.9;
}

.patientResult .patientDetails {
  /* flex-direction: row; */
  width: 70%;
}

.patientResult .patientAction {
  /* flex-direction: row; */
  width: 30%;
  align-content: center;
}